
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
/* all the elements in the page*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Outfit;
}
body{
    background: #f6f6f6;
    width:100%;
}
/*all the anchor texts*/
a{
    text-decoration: none;
    color: inherit;
}
/*------------top navigation bar- all------------------*/
nav{
    display: flex; /*aligns horizontally*/
    align-items: center;
    justify-content: space-between;
    background: #131921;
    padding: 10px 20px;
    color: #ffffff;
    overflow-x: scroll;
}
/*dreamsville-name*/
.dreams-title{
    font-size: 30px;
    font-family: mea culpa;
    color: rgb(123, 102, 65);
    cursor: pointer;
    padding: 0px 10px 0px 10px;
}

/*----search bar----*/
.nav-search{
    flex:1 ;
    display:flex ;
    align-items: center;
    background: white;
    color: gray;
    max-width: 1000px;
    border-radius: 40px 40px 40px 40px;
    margin-left: 5px;
    border-left: none;
}   
.nav-search-input{
    border: none;
    outline: none;
    margin-left: 2px;
    padding-left: 20px;
    width: 100%;
}
.nav-search-icon {
    max-width: 41px;
    padding: 8px;
    background: #ffd64f;
    height: 40px;
    border-radius: 40px 40px 40px 40px;
    border: none;
    cursor: pointer;  
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    max-width: 1000px;
    height: 335px;
    border: 1px solid #ddd;
    z-index: 1;
    overflow-y: scroll;
    border: none;
    border-radius: 10px 10px 10px 10px;
    margin: 380px 0px 0px 20px;
    padding: auto; 
  }
  .dropdown-content a {
    color: black;
    padding: 10px 0px 10px 0px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    transition: 0.5s;
  }
.dropdown-content a span{
    font-size: 12px;
  }
.dropdown-content a:hover {
    background-color: #bce5e9;
    transform: scale(1.3s);
}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display:block;
}
/*--------------------------nav-text----------------*/
.nav-text{
    margin-left: 15px;
}
.nav-text p{
    font-size: 10px;    
}
.nav-text h1{
    font-size: 14px;    
}
.nav-text:hover{  
    border-bottom:1px solid #92f0fb;
    border-right:1px solid #92f0fb;
    border-top:1px solid #92f0fb;
    border-left:1px solid #92f0fb;
}
/*---------notification bar--------------*/ 
.notification-bar-top{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0px 20px;
    background: linear-gradient(to bottom, #f5fffe 10%,#fbf6fc 100%, transparent 100%);
    color: #fff;
    font-size: 15px;
    overflow-x: auto;
}
.noti-2{
    color: #000000;
}
.notification-bar{
    display: flex;
}
.ri-play-fill{
    color:rgb(255, 0, 0);
}
.ctaa{
    margin: auto;
    font-size: 25px;
    font-family: mea culpa;
    letter-spacing: 1px;
    line-height: 26px;
    color: #2a0f0f;
    font-weight: 400;
    transition: all .55s ease;
    padding-right: 150px;
    transition: 1s;
}
.ctaa:hover{
    color:#38a8a8;
}
/*-----------------------------*/
/*===============================================----------------*/


/*---------------------------------*/
.products-slider-with-price{
    background: #ffffff;
    margin: 0px 20px;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 20px;
}
.products-slider-with-price .products{
    display: flex;
    overflow-x: auto;
    gap: 10px;
    margin-top: 20px;
}
.product-card{
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-height: 110px;
    background: #f0f0f0;
    border-radius: 20px;
    transition: 1s;
    max-width: 100%;
    max-height: 100%;
    align-items: center;
}
.product-card img{
    width: 310px;
    height: 250px;
    margin: 20px 20px;
    border-radius: 20px;
    box-shadow: 0 20px 35px rgba(156, 134, 97, 0.9);
    transition: 0.5s;
    align-items: center;

}
.product-card img:hover{
    transform: scale(1.1);
}
.product-offer{
    text-align: center;
    padding-bottom: 5px;
}
.product-offer p{
    background: #be0b3b;
    color: #ffffff;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 10px;
    margin: 8px 0px;
    font-size: 13px;
}
/*-----------check out sofa fabrics--------------*/
.products-slider-for-table{
    background: #ffffff;
    margin: 0px 20px;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 20px;
}
.seemore {
    font-size: 20px;
    color: #009999 ;
    font-weight: 500;
    transition: 1s;
    cursor: pointer;
    transition: 1s;
    padding-left: 850px;
}
.seemore:hover{
    transform: scale(1.2s);
}
.products-slider-for-table .products-table{
    display: flex;
    overflow-x: auto;
    gap: 10px;
    margin-top: 20px;
}
.product-card-table{
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-height: 110px;
    background: #243243;
    border-radius: 60px 10px 60px 10px;
    transition: 1s;
    max-width: 100%;
    max-height: 100%;
}
.product-card-table img{
    width: 240px;
    height: 240px;
    margin: 20px 20px 20px 20px;
    border-radius: 60px 60px 60px 60px;
    box-shadow: 0 20px 55px rgba(196, 195, 194, 0.9);
    transition: 0.5s;
}
.product-card-table img:hover{
    transform: scale(1.1);
}

/*--------------------------------------------*/

/*-----------------footer items all---------------------------*/
.navFooterBackToTopText{
    color: #fff;
}
.navFooterBackToTop span{
    display: block;
    text-align: center;
    background: #344458;
    padding: 15px 0;
    line-height: 19px;
    font-size: 13px;
}
html{
    -webkit-text-size-adjust: 100%;
}
.footer-lists{
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    justify-content: center;
    display: flex;
    background: #243243;
    color: #fff;
}
.footer_1{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    color: #b6b5b5;
    font-size: 15px;
    gap: 5px;
}
.footer-lists a:hover{
    text-decoration: underline;
}
.footer_1 span{
    color: #fbfbfb;
    font-size: 16px;
}
.footer_2{
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    color: #b6b5b5;
    font-size: 15px;
    gap: 5px;
}
.footer_2 span{
    color: #fbfbfb;
    font-size: 16px;
}
.footer_3{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: #b6b5b5;
    gap: 5px;
}
.footer_3 span{
    color: #fbfbfb;
    font-size: 16px;
}
.footer-hr{
    margin-top: 0px ;
    border: none;
    height: 1px;
    width: 100%;
    background:#424242;
}
.footer-logo-number{
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    justify-content: center;
    display: flex;
    text-align: center;
    background: #243243;
    color: #fff;
}
.footer-logo{
    justify-content: center;
    margin: -10px 20px -10px 15px;
    transition: 1s;
}
.footer-logo-number p{
    margin:  20px 20px -10px 0px;
    color: #adadad;
    justify-content: center;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background: #131921;
    padding: 40px 60px;
    font-size: 14px;
}
.rubdejim-web-link{
    text-decoration: underline;
}
.rubdejim-web-link:hover{
    color: #9f9d9d;
}
/*--------------------------------------------*/
/*---------------media query------------------------------------*/
@media only screen and (max-width: 900px){
    nav{
        flex-wrap: wrap;
    }
    .nav-search{
        order: 7;
        margin: 15px 10 0 5px;
        min-width: 100px;   
    }
    .product-card img{
        width: 140px;
        height: 140px;
    }
    .product-card-table img{
        width: 140px;
        height: 140px;
    }
    .seemore {
        padding-left: 240px;
    }
}


/*=================================*/
.lb-loader,
.lightbox {
    text-align: center;
    line-height: 0;
    position: absolute;
    left: 0
}
body.lb-disable-scrolling {
    overflow: hidden
}
.lightboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #000;
    filter: alpha(Opacity=80);
    opacity: .8;
    display: none
}
.lightbox {
    width: 100%;
    z-index: 10000;
    font-weight: 400;
    outline: 0
}
.lightbox .lb-image {
    display: block;
    height: auto;
    max-width: inherit;
    max-height: none;
    border-radius: 3px;
    border: 4px solid #fff
}
.lightbox a img {
    border: none
}
.lb-outerContainer {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 4px;
    background-color:transparent;
}
.lb-outerContainer:after {
    content: "";
    display: table;
    clear: both
}
.lb-loader {
    top: 43%;
    height: 25%;
    width: 100%
}
.lb-cancel {
    display: block;
    width: 92px;
    height: 92px;
    margin: 0 auto;
    background: url(/assets/nav_icons/Rainbow.gif) no-repeat
}

.lb-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10
}

.lb-container>.nav {
    left: 0
}

.lb-nav a {
    outline: 0;
    background-image: url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==)
}
/*--*/
.lb-next,
.lb-prev {
    height: 100%;
    cursor: pointer;
    display: block
}
.lb-nav a.lb-prev {
    width: 34%;
    left: 0;
    float: left;
    background: url(/assets/nav_icons/prev.png) 
    left 48% no-repeat;
    opacity: 0.3;
    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    transition: opacity .6s
}
.lb-nav a.lb-prev:hover {
    opacity: 10;
}
.lb-nav a.lb-next {
    width: 64%;
    right: 0;
    float: right;
    background: url(/assets/nav_icons/next.png) right 48% no-repeat;
    filter: alpha(Opacity=100);
    color: #fff;
    opacity: 0.3;
    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    transition: opacity .6s
}
.lb-nav a.lb-next:hover {
    opacity: 10;   
}
.lb-dataContainer {
    margin: 0 auto;
    padding-top: 5px;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px
}
.lb-dataContainer:after {
    content: "";
    display: table;
    clear: both
}
.lb-data {
    padding: 0 4px;
    color: #ccc
}
.lb-data .lb-details {
    width: 85%;
    float: left;
    text-align: left;
    line-height: 1.1em
}
.lb-data .lb-caption {
    font-size: 13px;
    font-weight: 700;
    line-height: 1em
}
.lb-data .lb-caption a {
    color: #4ae
}
.lb-data .lb-number {
    display: block;
    clear: left;
    padding-bottom: 1em;
    font-size: 12px;
    color: #999
}
.lb-data .lb-close {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    background: url(/assets/nav_icons/close.png) top right no-repeat;
    text-align: right;
    outline: 0;
    opacity: 1;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s
}
.lb-data .lb-close:hover {
    cursor: pointer;
    color: aquamarine;
}
/*======================================*/


