/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Outfit;
}
body{
    background: #fff;
    text-align: center;
    font-family: Outfit;
    min-height: 100vh;
}
.logo{
    margin-top: 20px;
    
}
.signin-container{
    max-width: 350px;
    border: 1px solid #d2d2d2;
    margin: auto;
    margin-top: 20px;
padding: 20px 26px;
border-radius:20px;
text-align: left;
box-shadow: 0 20px 35px rgba(145, 131, 99, 0.9);
}
.signin-title{
    font-size: 30px;
    font-weight: 350;
}
.input-label{
    margin-top: 12px;
    font-size: 16px;
    font-weight: 600;
    
}
.signin-container input{
    width: 100%;
    height: 32px;
    margin-top: 5px;
    padding: 3px 7px;
    border-radius: 3px;
    border: 1px solid #a0a0a0;
    font-size: 12px;
}
.signin-container input:focus{
    outline: 3px solid #c2f2ff;
}
.signin-container button{
    width: 100%;
    height: 32px;
    margin: 15px 0;
    background: #ffd814;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    
}
.signin-container button:hover{
    background: #dfc22f ;
}
.signin-condition{
    font-size: 12px;
    
}
.signin-condition a{
    color:#0066c0;
    
}

.signin-condition a:hover{
    color: orange;
}
.forgot-password{
    margin-top: 20px;
    font-size: 13px;
    margin: 20px 0;
    color:#0066c0;
}
.forgot-password:hover{
    color: orange;
}
.signin-bottom{
    max-width: 350px;
    font-size: 13px;
    color: #848383 ;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    gap: 6px;

}
.signin-bottom hr{
    border: none;
    background:#d4d4d4;
    height: 1px;
    width: 105px;
    margin: auto auto;

}
.signin-signup-btn{
    width: 350px;
    height: 30px;
    font-size: 13px;
    border-radius: 8px;
    border: none;
    color: black;
    background: #ffd814;
    cursor: pointer;
    box-shadow: 0 20px 35px rgba(145, 131, 99, 0.9);

}
.signin-signup-btn:hover{
    background: #efbd1a;
}

.hr-tag-bottom hr{
    margin-top: 30px ;
    border: none;
    background:#d4d4d4;
    height: 1px;
    width: 100%;
    
}
.signin-condition-footer{
    margin-top: 30px ;
    margin-bottom: 20px ;
    font-size: 12px;
}
.signin-condition-footer a{
    padding: 25px ;
    color:#0066c0;
    text-decoration: none;

}
.signin-condition-footer a:hover{
    color: orange;
}
footer{
    align-items: center;
    color: #6b6b6b;
    padding: 5px 60px;
    font-size: 10px;
}
.rubdejim-web-link{
    text-decoration:underline;
    color:#87a3bb;
}
.rubdejim-web-link:hover{
    text-decoration: underline;
    color:rgb(0, 0, 0);
}
